@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Muli',sans-serif;
    width: 100%;
    height: 100vh;
    background: #f1f5f7;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem auto;
    width: 90%;
}
h2{
    font-size:  2.3rem; 
    color: blueviolet;
}
.menu{
    margin: 1.5rem 0;
    color: blueviolet;
}
.menu a{
    font-size: 1.1rem;
    text-decoration:none;
    margin: 0 1.5rem;
    background-color: blue;
    color: #f1f5f7;
    border-radius: 8px;
    padding: 8px 22px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.store-item{
width: 300px;
padding: 1rem;
}
.store-item img{
    width: 90%;
    display: block;
    box-shadow: 7px 7px 20px rgba(0,0,0,0.2)
}
    
